{
    "notion_token": "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",
    "database_id": "1b16288a9e16801cabe9eaffc645e9fa",
    "download_dir": "Download/Notion",
    "upload_to_notion": true
} 